@media (min-width: 279px) and (max-width: 319px) {
  
  
}




@media (min-width: 320px) and (max-width: 480px) {

/* CSS Code Start */
  .title h4{
    font-size: 15px;
    margin: 0px 0px 10px;
  }
  .title h1{
    font-size: 28px;
    margin: 0px 0px 10px;
  }
  .title img{
    margin: 0px 0px 20px;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .active{
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .nav-link:hover{
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
    transition: all 0.5s ease;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .nav-link:focus{
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
  }
  .header .main-menu .navbar .navbar-nav .nav-item .nav-link{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin: 0px;
  }
  .header .banner{
    width: 100%;
    padding: 30px 0px;
    text-align: center;
  }
  .header .banner h4{
    font-size: 15px;
    margin: 0px 0px 15px;
  }
  .header .banner h1{
    font-size: 28px;
    margin: 0px 0px 15px;
  }
  .header .banner p{
    width: 100%;
    font-size: 14px;
    margin: 0px 0px 30px;
  }
  .header .banner .btn-primary{
  font-size: 14px;
  padding: 10px 15px;
  margin: 0px 10px 0px 0px;
}
  .header .banner .btn-outline-danger{
    font-size: 14px;
    padding: 10px 15px;
  }
  .feature{
    padding: 30px 0px 0px;
  }
  .feature .feature-item{
    width: 100%;
    padding: 10px 0px;
  }

  .feature .feature-item .icon{
    height: 70px;
    width: 70px;
    line-height: 70px;
  }

  .feature .feature-item h6{
    font-size: 18px;
    margin: 10px 0px;
  }

  .feature .feature-item p{
    font-size: 14px;
  }
  .about{
    padding: 20px 0px 0px;
  }

  .about .about-long .about-long-content{
    padding: 10px 0px 0px;
  }
  .about .about-long .about-long-content h4{
    font-size: 15px;
  }
  .about .about-long .about-long-content h1{
    font-size: 26px;
    margin: 10px 0px;
  }
  .about .about-long .about-long-content p{
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    margin: 10px 0px 15px;
  }
  .about .about-long .about-long-content ul li{
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 10px;
  }
  .about .about-long .about-long-content ul li img{
    width: 12px;
    height: 14px;
  }
  .about .about-short{
    padding: 20px 0px;
  }
  .about .about-short .title{
    padding: 15px 0px 0px;
  }
  .about .about-short .title h4{
    font-size: 15px;
  }
  .about .about-short .title h1{
    font-size: 26px;
    margin: 10px 0px;
  }
  .about .about-short .title p{
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0px 0px;
  }
  .testimonials{
    padding: 30px 0px;
  }
  .testimonials .owl-carousel .item{
    padding: 20px 0px 0px;
  }
  .testimonials .owl-carousel .item h4{
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .testimonials .owl-carousel .item .client-img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
  .testimonials .owl-carousel .item .client-info{
    width: 100%;
  }
  .testimonials .owl-carousel .item .client-info h5{
    font-size: 15px;
    margin: 5px 0px 0px;
  }
  .testimonials .owl-carousel .item .client-info p{
    font-size: 14px;
  }
  .testimonials .owl-theme .owl-dots{
    padding: 40px 0px 0px;
  }
  .eye-catcher{
    padding: 30px 0px;
    text-align: center;
  }
  .eye-catcher h1{
    font-size: 28px;
    margin-bottom: 20px;
  }
  .eye-catcher h1 span{
    font-size: 28px;
  }
  .eye-catcher .btn-primary{
    font-size: 14px;
    padding: 10px 15px;
  }
  .eye-catcher .btn-outline-danger{
    font-size: 14px;
    padding: 10px 15px;
    margin: 0px 10px 0px 0px;
  }
  .pricing{
    padding: 30px 0px;
  }
  .pricing .price-box{
    margin-top: 20px;
  }
  .pricing .price-box .plan-title{
    padding: 10px 30px;
  }
  .pricing .price-box .plan-price{
    padding: 15px 30px;
  }
  .pricing .price-box .plan-price p{
    font-size: 15px;
  }
  .pricing .price-box .plan-content{
    padding: 20px 30px 20px;
  }
  .pricing .price-box .plan-content p{
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .pricing .price-box .plan-content .btn-success{
    font-size: 14px;
  }
  .pricing .price-box:hover .plan-content .btn-success{
    font-size: 14px;
  }
  .contact{
    padding: 30px 0px 0px;
  }
  .contact .contact-info{
    padding: 10px 0px;
  }
  .contact .contact-info .fa{
    color: #008ed6;
    font-size: 35px;
    margin: 0px 0px 10px;
  }
  .contact .contact-info p{
    font-size: 15px;
    line-height: 25px;
  }
  .contact .contact-form{
    padding: 30px 20px;
    margin-bottom: -15px;
  }
  .contact .contact-form .form-control{
    padding: 10px;
  }
  .contact .contact-form .form-control::placeholder{
    font-size: 15px;
    line-height: 25px;
  }
  .contact .contact-form .btn-warning{
    font-size: 14px;
    padding: 10px 25px;
  }
  .footer{
    padding: 30px 0px;
  }
  .footer ul li{
    margin: 0px 20px 0px 0px;
  }
  .footer ul li a{
    font-size: 20px;
  }
  .footer p{
    font-size: 14px;
  }

/* CSS Code End */
}


@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS Code Start */
  .title h4{
    font-size: 18px;
    margin: 0px 0px 10px;
  }
  .title h1{
    font-size: 32px;
    margin: 0px 0px 10px;
  }
  .title img{
    margin: 0px 0px 20px;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .active{
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .nav-link:hover{
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
    transition: all 0.5s ease;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .nav-link:focus{
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
  }
  .header .main-menu .navbar .navbar-nav .nav-item .nav-link{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin: 0px;
  }
  .header .banner{
    width: 100%;
    padding: 30px 0px;
    text-align: center;
  }
  .header .banner h4{
    font-size: 18px;
    margin: 0px 0px 15px;
  }
  .header .banner h1{
    font-size: 32px;
    margin: 0px 0px 15px;
  }
  .header .banner p{
    width: 100%;
    font-size: 16px;
    margin: 0px 0px 30px;
  }
  .header .banner .btn-primary{
  font-size: 16px;
  padding: 10px 15px;
  margin: 0px 10px 0px 0px;
}
  .header .banner .btn-outline-danger{
    font-size: 16px;
    padding: 10px 15px;
  }
  .feature{
    padding: 30px 0px 0px;
  }
  .feature .feature-item{
    width: 100%;
    padding: 10px 0px;
  }

  .feature .feature-item .icon{
    height: 70px;
    width: 70px;
    line-height: 70px;
  }

  .feature .feature-item h6{
    font-size: 18px;
    margin: 10px 0px;
  }

  .feature .feature-item p{
    font-size: 16px;
  }
  .about{
    padding: 20px 0px 0px;
  }

  .about .about-long .about-long-content{
    padding: 10px 0px 0px;
  }
  .about .about-long .about-long-content h4{
    font-size: 18px;
  }
  .about .about-long .about-long-content h1{
    font-size: 30px;
    margin: 10px 0px;
  }
  .about .about-long .about-long-content p{
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    margin: 10px 0px 15px;
  }
  .about .about-long .about-long-content ul li{
    font-size: 16px;
    line-height: 26px;
    margin: 0px 0px 10px;
  }
  .about .about-long .about-long-content ul li img{
    width: 14px;
    height: 16px;
  }
  .about .about-short{
    padding: 20px 0px;
  }
  .about .about-short .title{
    padding: 15px 0px 0px;
  }
  .about .about-short .title h4{
    font-size: 18px;
  }
  .about .about-short .title h1{
    font-size: 30px;
    margin: 10px 0px;
  }
  .about .about-short .title p{
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0px 0px;
  }
  .testimonials{
    padding: 30px 0px;
  }
  .testimonials .owl-carousel .item{
    padding: 20px 0px 0px;
  }
  .testimonials .owl-carousel .item h4{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .testimonials .owl-carousel .item .client-img{
    width: 60px;
    height: 60px;
  }
  .testimonials .owl-carousel .item .client-info{
    width: 100%;
  }
  .testimonials .owl-carousel .item .client-info h5{
    font-size: 18px;
    margin: 5px 0px 0px;
  }
  .testimonials .owl-carousel .item .client-info p{
    font-size: 16px;
  }
  .testimonials .owl-theme .owl-dots{
    padding: 40px 0px 0px;
  }
  .eye-catcher{
    padding: 30px 0px;
    text-align: center;
  }
  .eye-catcher h1{
    font-size: 32px;
    margin-bottom: 30px;
  }
  .eye-catcher h1 span{
    font-size: 32px;
  }
  .eye-catcher .double-btn{
    text-align: center;
  }
  .eye-catcher .btn-primary{
    font-size: 16px;
    padding: 10px 15px;
  }
  .eye-catcher .btn-outline-danger{
    font-size: 16px;
    padding: 10px 15px;
    margin: 0px 10px 0px 0px;
  }
  .pricing{
    padding: 30px 0px;
  }
  .pricing .price-box{
    margin-top: 20px;
  }
  .pricing .price-box .plan-title{
    padding: 10px 30px;
  }
  .pricing .price-box .plan-price{
    padding: 15px 30px;
  }
  .pricing .price-box .plan-price p{
    font-size: 15px;
  }
  .pricing .price-box .plan-content{
    padding: 20px 30px 20px;
  }
  .pricing .price-box .plan-content p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .pricing .price-box .plan-content .btn-success{
    font-size: 16px;
  }
  .pricing .price-box:hover .plan-content .btn-success{
    font-size: 16px;
  }
  .contact{
    padding: 30px 0px 0px;
  }
  .contact .contact-info{
    padding: 10px 0px;
  }
  .contact .contact-info .fa{
    color: #008ed6;
    font-size: 35px;
    margin: 0px 0px 10px;
  }
  .contact .contact-info p{
    font-size: 16px;
    line-height: 26px;
  }
  .contact .contact-form{
    padding: 30px 20px;
    margin-bottom: -15px;
  }
  .contact .contact-form .form-control{
    padding: 10px;
  }
  .contact .contact-form .form-control::placeholder{
    font-size: 16px;
    line-height: 26px;
  }
  .contact .contact-form .btn-warning{
    font-size: 16px;
    padding: 10px 25px;
  }
  .footer{
    padding: 30px 0px;
  }
  .footer ul li{
    margin: 0px 20px 0px 0px;
  }
  .footer ul li a{
    font-size: 20px;
  }
  .footer p{
    font-size: 16px;
  }

/* CSS Code End */
  
}


@media (min-width: 768px) and (max-width: 1024px) {
  
    /* CSS Code Start */
  .title h4{
    font-size: 20px;
    margin: 0px 0px 10px;
  }
  .title h1{
    font-size: 36px;
    margin: 0px 0px 10px;
  }
  .title img{
    margin: 0px 0px 20px;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .active{
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .nav-link:hover{
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
    transition: all 0.5s ease;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .nav-link:focus{
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
  }
  .header .main-menu .navbar .navbar-nav .nav-item .nav-link{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin: 0px;
  }
  .header .banner{
    width: 100%;
    padding: 30px 0px;
    text-align: center;
  }
  .header .banner h4{
    font-size: 20px;
    margin: 0px 0px 15px;
  }
  .header .banner h1{
    font-size: 36px;
    margin: 0px 0px 15px;
  }
  .header .banner p{
    width: 100%;
    font-size: 16px;
    margin: 0px 0px 30px;
  }
  .header .banner .btn-primary{
  font-size: 16px;
  padding: 15px 30px;
  margin: 0px 20px 0px 0px;
}
  .header .banner .btn-outline-danger{
    font-size: 16px;
    padding: 15px 30px;
  }
  .feature{
    padding: 30px 0px 0px;
  }
  .feature .feature-item{
    width: 100%;
    padding: 10px 0px;
  }

  .feature .feature-item .icon{
    height: 70px;
    width: 70px;
    line-height: 70px;
  }

  .feature .feature-item h6{
    font-size: 22px;
    margin: 10px 0px;
  }

  .feature .feature-item p{
    font-size: 16px;
  }
  .about{
    padding: 20px 0px 0px;
  }

  .about .about-long .about-long-content{
    padding: 10px 0px 0px;
  }
  .about .about-long .about-long-content h4{
    font-size: 20px;
  }
  .about .about-long .about-long-content h1{
    font-size: 34px;
    margin: 10px 0px;
  }
  .about .about-long .about-long-content p{
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    margin: 10px 0px 15px;
  }
  .about .about-long .about-long-content ul li{
    font-size: 16px;
    line-height: 26px;
    margin: 0px 0px 10px;
  }
  .about .about-long .about-long-content ul li img{
    width: 14px;
    height: 16px;
  }
  .about .about-short{
    padding: 20px 0px;
  }
  .about .about-short .title{
    padding: 15px 0px 0px;
  }
  .about .about-short .title h4{
    font-size: 20px;
  }
  .about .about-short .title h1{
    font-size: 34px;
    margin: 10px 0px;
  }
  .about .about-short .title p{
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0px 0px;
  }
  .testimonials{
    padding: 30px 0px;
  }
  .testimonials .owl-carousel .item{
    padding: 20px 0px 0px;
  }
  .testimonials .owl-carousel .item h4{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .testimonials .owl-carousel .item .client-img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
  .testimonials .owl-carousel .item .client-info{
    width: 100%;
    margin-top: 5px;
  }
  .testimonials .owl-carousel .item .client-info h5{
    font-size: 20px;
    margin: 5px 0px 0px;
  }
  .testimonials .owl-carousel .item .client-info p{
    font-size: 16px;
  }
  .testimonials .owl-theme .owl-dots{
    padding: 40px 0px 0px;
  }
  .eye-catcher{
    padding: 30px 0px;
    text-align: center;
  }
  .eye-catcher h1{
    font-size: 36px;
    margin-bottom: 30px;
  }
  .eye-catcher h1 span{
    font-size: 36px;
  }
  .eye-catcher .double-btn{
    text-align: center;
  }
  .eye-catcher .btn-primary{
    font-size: 16px;
    padding: 15px 30px;
  }
  .eye-catcher .btn-outline-danger{
    font-size: 16px;
    padding: 15px 30px;
    margin: 0px 20px 0px 0px;
  }
  .pricing{
    padding: 30px 0px;
  }
  .pricing .price-box{
    margin-top: 20px;
  }
  .pricing .price-box .plan-title{
    padding: 10px 30px;
  }
  .pricing .price-box .plan-price{
    padding: 15px 30px;
  }
  .pricing .price-box .plan-price p{
    font-size: 16px;
  }
  .pricing .price-box .plan-content{
    padding: 20px 30px 20px;
  }
  .pricing .price-box .plan-content p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .pricing .price-box .plan-content .btn-success{
    font-size: 16px;
  }
  .pricing .price-box:hover .plan-content .btn-success{
    font-size: 16px;
  }
  .contact{
    padding: 30px 0px 0px;
  }
  .contact .contact-info{
    padding: 10px 0px;
  }
  .contact .contact-info .fa{
    color: #008ed6;
    font-size: 35px;
    margin: 0px 0px 10px;
  }
  .contact .contact-info p{
    font-size: 16px;
    line-height: 26px;
  }
  .contact .contact-form{
    padding: 30px 20px;
    margin-bottom: -10px;
  }
  .contact .contact-form .form-control{
    padding: 10px;
  }
  .contact .contact-form .form-control::placeholder{
    font-size: 16px;
    line-height: 26px;
  }
  .contact .contact-form .btn-warning{
    font-size: 16px;
    padding: 15px 30px;
  }
  .footer{
    padding: 30px 0px;
  }
  .footer ul li{
    margin: 0px 20px 0px 0px;
  }
  .footer ul li a{
    font-size: 20px;
  }
  .footer p{
    font-size: 16px;
  }

/* CSS Code End */
  
}
